{% extends "base.html" %}
{% load bootstrap3 %}
{% block head %}
  <style>
  body {
/* Form Module scaling*/
.form-module {
max-width: 500px;
width: 100%;
}
  </style>
{% endblock %}
{% block content  %}
<div class="pen-title">
  <h1>Bug-Tracker</h1>
</div>
  <div class="form-module container">
    <h2></h2>
    <div class="form">
      <h2>Sign up here</h2>
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit">Sign Up</button>
    </form>
  </div>
{% endblock %}
